AddHandler parsed-html html
Action parsed-html /cgi-bin/parsekit.parser3.cgi

RewriteEngine on
RewriteBase /

DirectoryIndex _app.html

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) /_app.html?request=$1 [L,QSA]
